/* Corresponds to the index.html file */

.table {
    background-color: green;
    height: 900px;
    width: 1400px;
    border-radius: 30%;
    border: solid brown;
    border-width: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.row {
    border: solid black;
    height: 25%;
}

.col {
    background-color: limegreen;
    border-radius: 30%;
    height: 95%;
    margin: 5px;
}

#playerCol, #dealerCol {
    background-color: limegreen;
    border-radius: 30%;
    margin: 5px;
}

h1, h2 {
    color: white;
    text-align: center;
}

h2 {
    font-size: 25px;
}

.hand {
    height: 10px;
    width: 10px;
}

/* #community {
    background-color: limegreen;
    height: 70%;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 3%;
} */

img {
    height: 100px;
    border-radius: 5px;
    margin: 10px;
}